{% extends template.self %}

{% block body %}
    <header class="anonymous">
      <div class="header-item header-nav-menu-container">
        <a href="#" id="npm-expansions" class="npm-expansions" data-event-trigger="click" data-event-name="npm-expansions">node package manager</a>

        <div class="nav-menu-container" role="navigation">
          <a class="nav-toggle drop-down-menu-toggle" href="#product-navigation"><span class="a11y-only">Toggle Navigation</span>
            <svg viewBox="0 0 44 44">
              <rect x="4" y="12" fill="currentColor" width="36" height="2"/>
              <rect x="4" y="20" fill="currentColor" width="36" height="2"/>
              <rect x="4" y="28" fill="currentColor" width="36" height="2"/>
            </svg>
          </a>
          <div class="drop-down-menu-container" role="menu">
            <nav id="product-navigation" class="product-navigation drop-down-menu">
              <ul class="drop-down-menu-section products-list">
                <li><a id="nav-enterprise-link" href="https://www.npmjs.com/npm/enterprise">npm Enterprise</a></li>
                <li><a id="nav-features-link" href="https://www.npmjs.com/features" data-event-trigger="click" data-event-name="features-nav-link">features</a></li>
                <li><a id="nav-pricing-link" href="https://www.npmjs.com/pricing">pricing</a></li>
                <li><a id="nav-docs-link" href="https://docs.npmjs.com">documentation</a></li>
                <li><a id="nav-support-link" href="https://www.npmjs.com/support">support</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>
    {{ super() }}

    <script src="/scripts/bundle.js"></script>
{% endblock %}
