.book .book-summary {
  background-color: #2a333c;
}

header {
  position: relative;
  z-index: 999;
}

.book-search {
  z-index: -999;
}

.book .book-summary ul.summary:before {
  content: '';
  background-image: url('../gitbook/images/npm-logo.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 3.6em 8em;
  margin: 15px;
  display: block;
}

.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
  color: white;
}

.book .book-summary ul.summary li a.gitbook-link {
  color: #c3c3c3;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
  color: #6ea2c9;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #cb3837;
}

@media (max-width: 768px) {
  .drop-down-menu-overlay {
    background-color: rgb(40, 53, 70);
  }
}

.marketing {
margin: 0px;
margin-bottom: 16px;
padding: 0.7em;
font-size: 18px;
font-style: normal;
font-variant: normal;
font-weight: normal;
background: rgba(0, 0, 0, 0.02);
border-radius: 0px 0px 2px 2px;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
color: #666;
text-decoration: none;
text-align: center;
}
.marketing .inline-hed {
font-weight: 600;
}
.marketing .inline-message {
font-weight: 300;
padding: 0em 0.5em;
}

.marketing a {
font-weight: 400;
text-decoration: none;
color: #cb3837;
white-space: nowrap;
}
